/* #region Projects */
.projects {
    display: grid;
    grid-template-columns: 2fr 2fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "projectsHeader projectsHeader projectsHeader"
    "projectsContent projectsContent projectsAside";
}

.projects__header {
    grid-area: projectsHeader;
}

.projects__container {
    grid-area: projectsContent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around; */
    grid-template-rows: auto;
    row-gap: 15px;
    column-gap: 15px;
}
/* Content Styling */
/* content header styling */
.content__header {
    font-size: 1.2em;
    text-align: center;

}

/* Image Figure styling */
.content__figure {
    width: 100%;
    text-align: center;
}
.content__links a {
    color: #ffffff;
    font-size: 0.8em;
}

.content__img {
    width: 100%;
    height: auto;
}



/* Form besides projects */
.projects__aside {
    grid-area: projectsAside;
    margin: 20px;
}

input {
    border: none;
    border-bottom: thin solid grey;
    background-color: transparent;
    margin-bottom: 15px;
}

fieldset {
    border: thin solid;
    padding: 15px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.mobile {
    display: none;
}
/* #endregion */
